$mainColor: #cb4042;
$mainDarkenColor: darken(#cb4042, 15%);
$accentColor: #ddb223;
$baceColor: #faecec;
$black: #454545;
$gray: #888888;
$white: #ffffff;
$font: "Montserrat Alternates", sans-serif;
// "Sen", sans-serif
// "Montserrat Alternates", sans-serif;
// "Poiret One", sans-serif;

@mixin btn(
  $bg: $mainColor,
  $c: $baceColor,
  $b: 3px solid $mainColor,
  $fs: 1.6rem,
  $h: 56px,
  $m1: 8px 16px 8px 0,
  $m2: 8px 0
) {
  height: $h;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg;
  color: $c;
  border: $b;
  font-weight: bold;
  font-size: $fs;
  font-family: $font;
  margin: $m1;
  transform: skewX(340deg);
  overflow: hidden;
  position: relative;
  transition: 0.25s color;
  span {
    display: block;
    text-align: center;
    transform: skewX(20deg);
    padding: 0 12px;
  }
  &:last-of-type {
    margin: $m2;
  }
}
@mixin btnHoverAction($bg: $white, $c: $mainColor) {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: $bg;
    transform: skewX(0deg);
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.25s left;
  }
  &:hover {
    color: $c;
    &::before {
      left: 0%;
    }
  }
}
@mixin throughTtl(
  $ttl,
  $t,
  $r,
  $b,
  $l,
  $z: -1,
  $mbm: normal,
  $c: $baceColor,
  $fs: 12rem
) {
  position: relative;
  &::after {
    content: $ttl;
    color: $c;
    font-family: $font;
    font-size: $fs;
    font-weight: 600;
    position: absolute;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
    z-index: $z;
    mix-blend-mode: $mbm;
    transition: 0.2s color;
  }
}

@mixin worksPreset($d1: flex, $ai: center) {
  display: $d1;
  justify-content: space-around;
  align-items: $ai;
  &:first-of-type {
    margin: 0 auto;
  }
  // &--wrap {
  //   width: 50%;
  //   min-width: 400px;
  // }
  &--sort {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: $mainDarkenColor;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 8px;
    li {
      height: 32px;
      display: flex;
      align-items: center;
      border: 3px solid $mainDarkenColor;
      border-radius: 16px;
      padding: 0 16px;
      margin: 4px 8px 4px 0;
      &:last-of-type {
        margin: 4px 0;
      }
      &:nth-of-type(3) {
        background: $mainDarkenColor;
        color: $white;
      }
    }
  }
  &--headline {
    color: $mainColor;
    font-size: 2.8rem;
    margin: 0 0 16px;
  }
  &--info {
    display: flex;
  }
  &--ttl {
    font-size: 2.4rem;
    margin: 0 16px 0 0;
  }
  &--catchphrase {
    display: flex;
    align-items: center;
  }
  &--txt {
    color: $gray;
    font-size: 1.4rem;
    margin: 6px 0 10px;
  }
  &--lang {
    display: flex;
    margin: 8px 0 16px;
    > div {
      height: 24px;
      margin-right: 8px;
      img {
        height: 100%;
        object-fit: contain;
      }
      &:last-of-type {
        margin: 0;
      }
    }
  }
  &--link {
    display: flex;
    a {
      width: 33%;
      @include btn(
        $bg: $accentColor,
        $c: $white,
        $b: 3px solid $accentColor,
        $h: 48px
      );
      @include btnHoverAction($c: $accentColor);
      &:nth-of-type(3) {
        width: 20%;
        cursor: pointer;
        @include btn(
          $bg: $white,
          $c: $accentColor,
          $b: 3px solid $accentColor,
          $h: 48px
        );
        @include btnHoverAction($accentColor, $white);
      }
      &:last-of-type {
        margin: 0;
      }
    }
  }
}

@mixin contentsNone() {
  &__none {
    color: $mainColor;
    font-size: 3rem;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    text-align: center;
  }
}
