@import "@/assets/scss/ress.scss";
@import "@/assets/scss/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&Montserrat+Alternates&family=Sen&family=Rozha+One&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  // font-family: "sawarabi gothic", sans-serif;
  font-size: 1.4rem;
  color: $black;
}
a {
  text-decoration: none;
  color: $mainColor;
  &:hover,
  &:active {
    color: $mainColor;
  }
}
li {
  list-style-type: none;
}

::selection {
  background: rgba($color: lighten($accentColor, 15%), $alpha: 0.3);
  color: darken($accentColor, 10%);
}
::-moz-selection {
  //firefox
  background: lighten($accentColor, 20%);
  color: darken($accentColor, 10%);
}
